.footer {
  background: black;
  margin-top: 8rem;
  border-top: 1px solid 10px;
  color: white;
  padding: 2rem 1rem;

  .footer-links {
    display: flex;
    justify-content: space-between;

    a {
      color: white;
      display: inline-block;
      border: 2px solid gray;
      padding: 0.2rem 4rem;
      border-radius: 50px;
    }
  }

  .footer-grid-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: white;
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  }

  .footer-center {
    text-align: center;
  }

}