.hero {
  .hero-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .btn { 
      background: black;
      color: white;
      padding: 0.6rem 0.8rem;
      display: inline-block;
      border-radius: 50px;
  }
}

.work {

  .selected-work-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section-link {
        border: 2px solid lightgray;
        border-radius: 50px;
        padding: 0.6rem 0.8rem;
        font-weight: 700;
    }
  }

  .card-visual {
    background: lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }

  .hero-figure {
    display: none;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .post-row-desc { display: none; }
  .post-row-date { display: none; }
}