  /* Responsive */
  @media (max-width: 900px) {
    .hero {
      grid-template-columns: 1fr;
      padding-top: 3rem;
    }

    .hero-figure {
      display: none;
    }

    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
*/
  @media (max-width: 600px) {
    .post-row-desc { display: none; }
    .post-row-date { display: none; }
  }